.App{
    display: flex;
    flex-direction: column;
}
body{
    color:black;
}
h1{
    font-family:  'Roboto Condensed', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(136, 110, 40);
    margin: 10px;
}
h5{
    text-align: center;
    padding:30px;
    font-size: 20px;
    color: rgb(136, 110, 40);
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-nav a, .navbar-brand a{
    padding: 20px;
    text-decoration: none;
    color:black;
}
a, a:hover {
    text-decoration: none;
    color:black;
}
main{
    min-height: 70vh;
}
.card {
    width: 50%;
    display: flex;
    float: left;
    flex-direction: column;
    padding: 10px;
}
.card-text, .card-title{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color:black;
}
.card-price{
    text-align: center;
    font-size: 18px;
    color:black;
}
.productDetailContainer{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.cartListContainer{
    display: flex;
    flex-direction: column;
}
.cart-btn-section {
    display: flex;
    justify-content: space-evenly;
}
.addtocart{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn-buy{
    margin-top: 10px;
}
.btn-cart{
    margin: 20px;
    width: 20%;
}
.btn-empty{
    margin: 20px;
    width: 20%;
}
.icon{
    color:black;
}
.trash-icon {
    color: white;
    cursor: pointer;
}
.counter-input{
    width: 20%;
    text-align: center;
}
#footer{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 40px;
    font-weight: bold;
}